.chats-item {
  & {
    padding: 5px;
    display: grid;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    grid-template-areas:
      'photo name'
      'photo last-message';

    &:hover {
      background-color: $color-black-01;
    }
    &--selected {
      background-color: $color-blue !important;
      color: $color-white;
    }
  }
  &__photo {
    grid-area: photo;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  &__name {
    grid-area: name;
    font-weight: 600;
    font-size: 22px;
    white-space: nowrap;
  }
  &__last-message {
    grid-area: last-message;
    white-space: nowrap;
  }
  &__last-message-author {
    font-weight: 500;
  }
  &__last-message-text {

  }
}

@include mq('tablet-wide') {
  .chats-item {
    & {
      
    }
    &__photo {
      width: 50px;
      height: 50px;
    }
    &__name {
      font-size: 20px;
    }
    &__last-message {
      font-size: 15px;
    }
  }
}
