.chat {
  & {
    width: 75%;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: repeat;
    position: relative;
    padding: 80px 0 50px;
    overflow: hidden;
    position: relative;
  }
  &__photo-preview {
    position: absolute;
    bottom: 100%;
    left: 0;
    max-height: 150px;
    transition: all .2s ease-in;

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: $color-white-dark-1;
    display: flex;
    align-items: center;
    border-left: 1px solid $color-light-grey;
    padding: 0 20px;

    &-img {
      margin-right: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid $color-black;
      flex-shrink: 0;
    }
    &-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    &-btns {
      flex-shrink: 0;
    }
    &-btn {
      color: $color-grey;
      cursor: pointer;
    }
    &-search-btn {
      position: relative;

      &:focus .chat__header-search-input {
        transform: scaleX(1) translateY(-50%);
      }
    }
    &-icon {
      font-size: 20px;
    }
    &-search-input {
      position: absolute;
      padding: 8px 5px;
      text-indent: 5px;
      top: 50%;
      right: 140%;
      background-color: $color-white;
      transform: scaleX(0) translateY(-50%);
      transform-origin: 100%;
      transition: all .2s ease-in;
      border-radius: 3px;

      &:focus {
        transform: scaleX(1) translateY(-50%);
      }
    }
  }
  &__name {
    font-weight: 500;
    font-size: 17px;
  }
  &__date {
    font-size: 13px;
    color: $color-grey;
  }
  &__body {
    height: 100%;
    padding: 20px;
    overflow-y: auto;
  }
  &__messages-list {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }
  &__messages-item {
    display: flex;

    &--left {
      justify-content: flex-start;
    }
    &--right {
      justify-content: flex-end;
    }
  }
  &__footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $color-white;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: $color-white-dark-2;

    &-input-wrapper {
      background-color: $color-white;
      border-radius: 25px;
      margin-left: 10px;
      height: 40px;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      padding: 5px 5px 5px 15px;
    }
    &-input {
      height: 100%;
      font-weight: 500;
      flex-grow: 1;
    }
    &-send-btn {
      padding: 0 15px;
      border-radius: 25px;
      background-color: $color-blue;
      color: $color-white;
      font-weight: 500;
      font-size: 14px;
      transition: all .2s ease-in;
      flex-shrink: 0;

      &--hidden {
        transform: scale(0);
      }
    }
    &-icon {
      color: $color-grey;
      font-size: 20px;
      cursor: pointer;
    }
    &-photo-icon {
      
      &--active {
        color: $color-blue;
      }
    }
  }
  &__loader {
    @include push--auto;
    width: 40px;
    height: 40px;
    border: 5px solid $color-black-05;
    border-left-color: transparent;
    border-radius: 50%;
    animation: rotate-loader 1s linear infinite;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
