.chat-header {
  & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  &__left {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-areas:
      'photo name'
      'photo online-list';
  }
  &__photo {
    grid-area: photo;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__chat-name {
    grid-area: name;
    font-weight: 600;
    font-size: 22px;
  }
  &__online-panel {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  &__online-list {
    grid-area: online-list;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  &__online-item {

  }
  &__right {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__btn {
    @include center;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    &:hover {
      background-color: $color-black-005;
    }
  }
  &__icon {
    font-size: 30px;
  }
  &__search-icon {
    color: $color-grey;
  }
  &__delete-icon {
    color: $color-red;
  }
  &__search-panel {
    position: absolute;
    top: calc(100% + 5px);
    left: 5px;
    right: 5px;
    background-color: $color-white;
    height: 30px;
    z-index: z('search-panel');
    transition: all .2s ease-in;
    display: flex;
    align-items: center;
    border-radius: 3px;

    &--hidden {
      transform: scaleX(0);
      transform-origin: 100% 50%;
    }
  }
  &__search-input {
    text-indent: 10px;
    font-size: 16px;
    flex-grow: 1;
  }
}

@include mq('tablet-wide') {
  .chat-header {
    & {
      height: 50px;
      padding: 0 5px;
    }
    &__photo {
      width: 40px;
      height: 40px;
    }
    &__chat-name {
      font-size: 18px;
    }
    &__online-panel {
      font-size: 13px;
    }
    &__online-list {
      
    }
    &__right {
      column-gap: 5px;
    }
    &__btn {
      width: 30px;
      height: 30px;
    }
    &__icon {
      font-size: 20px;
    }
  }
}
