.chat-header {
  & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 10px 0 10px $color-black-02;
  }
  &__left {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-areas:
      'photo name'
      'photo online-list';
    overflow: hidden;
  }
  &__burger-menu-btn {
    display: none;
    grid-area: burger-menu-btn;
    width: 30px;
    height: 30px;

    &:hover {
      background-color: $color-black-005;
    }
  }

  &__photo {
    grid-area: photo;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__chat-name {
    grid-area: name;
    font-weight: 600;
    font-size: 22px;
    white-space: nowrap;
  }
  &__online-panel {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  &__online-label {

  }
  &__online-list {
    grid-area: online-list;
    display: flex;
    align-items: center;
    column-gap: 5px;
    overflow: hidden;
    white-space: nowrap;
    color: $color-grey;
  }
  &__online-item {

  }
  &__right {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__btn {
    border-radius: 50%;

    &:hover {
      background-color: $color-black-005;
    }
  }
  &__search-btn, &__delete-btn {
    @include center;
    width: 45px;
    height: 45px;
  }
  &__icon {
    font-size: 30px;
  }
  &__search-icon {
    color: $color-black;
  }
  &__delete-icon {
    color: $color-red;
  }
  &__search-panel {
    position: absolute;
    top: calc(100% + 10px);
    left: 10px;
    right: 10px;
    background-color: $color-white;
    height: 30px;
    z-index: z('search-panel');
    transition: all .2s linear;
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 0 3.5px $color-light-blue;
    opacity: 1;

    &--hidden {
      opacity: 0;
    }
  }
  &__search-input {
    text-indent: 10px;
    font-size: 16px;
    flex-grow: 1;
  }
}

@include mq('tablet-wide') {
  .chat-header {
    & {
      height: 50px;
      padding: 0 5px;
    }
    &__left {
      grid-template-areas:
        'burger-menu-btn photo name'
        'burger-menu-btn photo online-list';
      column-gap: 4px;
    }
    &__burger-menu-btn {
      display: block;
      @include center;
    }
    &__photo {
      width: 40px;
      height: 40px;
    }
    &__chat-name {
      font-size: 18px;
    }
    &__online-panel {
      font-size: 13px;
    }
    &__online-list {
      
    }
    &__right {
      column-gap: 5px;
    }
    &__search-btn, &__delete-btn {
      width: 40px;
      height: 40px;
    }
    &__icon {
      font-size: 24px;
    }
  }
}
