.chat {
  & {
    position: relative;
    width: 75%;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    padding: 70px 0 50px;
    display: flex;
    flex-direction: column;
  }
  &__body {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
  }
  &__loader {
    @include push--auto;
    width: 40px;
    height: 40px;
    border: 5px solid $color-grey;
    border-left-color: transparent;
    animation: rotate-loader .6s infinite linear;
    border-radius: 50%;
  }
  &__messages-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

@include mq('tablet-wide') {
  .chat {
    & {
      width: 100%;
      padding: 50px 0 50px;
    }
    &__body {
      padding: 20px 5px 5px 5px;
    }
  }
}
