.create-chat-window {
  & {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: z('modal');
    padding: 20px;
    border-radius: 10px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    transition: .2s all ease-in;

    &--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
  &__title {
    text-align: center;
  }
  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  &__input {
    border: 1px solid #000;
    padding: 5px;
  }
  &__avatars {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 10px;
  }
  &__avatar-item {
    display: block;
  }
  &__avatar {
    border: 2px solid rgba(0, 0, 0, 0.288);
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100px;
    cursor: pointer;

    &--selected {
      border-color: $color-green;
    }
  }
  &__submit-btn {
    padding: 10px 0;
    border: 2px solid $color-blue;
    border-radius: 3px;
    color: $color-blue;
    font-size: 18px;
    font-weight: 600;
  }
}
