.login-page {
  & {
    text-align: center;
    padding-top: 40px;
    background-color: $color-white;
    min-height: 100vh;
  }
  &__body {
    box-shadow: 0 0 20px $color-black-05;
    background-color: $color-white;
    padding: 40px 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    width: 80px;
  }
  &__title {
    margin-top: 30px;
  }
  &__sign-in-btn {
    margin-top: 30px;
    padding: 10px 10px;
    background-color: $color-blue;
    border-radius: 2px;
    color: $color-white;
    font-weight: 600;
  }
}
