.messages-item {
  & {
    display: flex;
    column-gap: 10px;

    &--align-left {
      justify-content: start;
    }
    &--align-right {
      justify-content: end;
    }
    &--highlighted {
      // todo
    }
    &--reversed {
      flex-direction: row-reverse;
    }
  }
  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__message {
    position: relative;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 10px 4px;

    &--green {
      background-color: $color-light-green;
    }
  }
  &__message-photo {
    max-width: 300px;
    background-color: $color-light-grey;
  }
  &__message-created-date {
    margin-top: 10px;
    color: $color-grey;
    font-size: 13px;
  }
  &__message-author {
    position: absolute;
    bottom: 100%;
    left: 5px;
    font-weight: 600;
    font-size: 13px;
  }
}
