.messages-item {
  & {
    display: flex;
    column-gap: 5px;
    animation: float .3s ease-in forwards;
    position: relative;
    align-items: start;

    &--align-left {
      justify-content: start;
    }
    &--align-right {
      justify-content: end;
    }
    &--reversed {
      flex-direction: row-reverse;
    }
  }
  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    user-select: none;
  }
  &__message {
    position: relative;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 10px 4px;
    border: 2px solid transparent;

    &--green {
      background-color: $color-light-green;
    }
    &--blue-border {
      border-color: $color-blue;
    }
  }
  &__message-photo {
    max-width: 300px;
    background-color: $color-light-grey;
  }
  &__message-created-date {
    margin-top: 10px;
    color: $color-grey;
    font-size: 13px;
  }
  &__message-author {
    position: absolute;
    bottom: calc(100% + 2px);
    left: 5px;
    font-weight: 600;
    font-size: 13px;
  }
}

@keyframes float {
  from {
    bottom: -20px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@include mq('tablet-wide') {
  .messages-item {
    & {

    }
    &__message {
      padding: 5px 5px 2px;
    }
  }
}
