.photo-preview {
  & {
    position: absolute;
    background-color: $color-white;
    bottom: calc(100% + 10px);
    left: calc(0px + 10px);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    transition: all .2s ease-in;

    &--hidden {
      transform: scale(0);
      transform-origin: 0 100%;
    }
  }
  &__photo {
    width: 200px;
    background-color: $color-black-01;
  }
  &__remove-photo-btn {
    margin-top: 5px;
    padding: 5px 5px;
    text-align: center;
    border: 1px solid $color-red;
    color: $color-red;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
    transition: all .2s ease-in;

    &:hover {
      background-color: $color-red;
      color: $color-white;
    }
  }
}

@include mq('tablet-wide') {
  .photo-preview {
    & {

    }
    &__photo {
      width: 100px;
    }
    &__remove-photo-btn {
      font-size: 16px;
      padding: 3px;
    }
  }
}
