.shade {
  & {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color-black-08;
    z-index: z('shade');
    transition: .2s all ease-in;

    &--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}
