.side-bar {
  & {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: $color-white-dark-2;
  }
  &__header {
    height: 80px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: $color-white-dark-1;
  }
  &__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  &__header-actions {
    display: flex;
  }
  &__header-action {
    @include gap-h(10px);
    width: 20px;
    height: 20px;
  }
  &__header-icon {
    font-size: 18px;
    color: $color-grey;
    cursor: pointer;
  }
  &__search-panel {
    margin: 10px 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: $color-white;
  }
  &__search-input {
    text-indent: 10px;
    font-weight: 500;
    flex-grow: 1;
  }
  &__search-icon {
    color: $color-grey;
  }
  &__add-chat-btn {
    text-align: start;
    padding: 7px 15px;
    font-size: 22px;
    font-weight: 600;
    flex-shrink: 0;
    background-color: $color-white;
  }
  &__chats {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    background-color: $color-white;
  }
  &__chat {
    padding: 10px 15px;
    display: grid;
    grid-template-areas:
      'photo-url name'
      'photo-url last-message';
    justify-content: start;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    cursor: pointer;

    &-photo-url {
      grid-area: photo-url;
      border: 1px solid #000;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &-name {
      font-weight: 500;
      font-size: 18px;
    }
    &-last-message {
      grid-area: last-message;
    }
  }
}
