.side-bar {
  & {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: $color-white-dark-2;
  }
  &__header {
    height: 80px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: $color-white-dark-1;
  }
  &__header-left {
    display: grid;
    grid-template-areas:
      'avatar display-name'
      'avatar status';
    column-gap: 10px;
  }
  &__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    grid-area: avatar;
  }
  &__display-name {
    grid-area: display-name;
    font-weight: 600;
  }
  &__status {
    font-size: 14px;
    grid-area: status;
    color: $color-green;
    letter-spacing: .2px;
  }
  &__header-actions {
    display: flex;
  }
  &__header-action {
    @include gap-h(10px);
    width: 20px;
    height: 20px;
  }
  &__header-icon {
    font-size: 18px;
    color: $color-grey;
    cursor: pointer;
  }
  &__search-panel {
    margin: 0 0 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: $color-white;
  }
  &__search-input {
    text-indent: 10px;
    font-weight: 500;
    flex-grow: 1;
  }
  &__search-icon {
    color: $color-grey;
  }
  &__add-chat-btn {
    padding: 7px 15px;
    font-size: 18px;
    font-weight: 600;
    flex-shrink: 0;
    background-color: $color-white;
    color: $color-blue;
    border: 1px solid $color-blue;
  }
  &__chats {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: $color-white;
  }
  &__chat {
    padding: 10px 15px;
    display: grid;
    grid-template-areas:
      'photo-url name'
      'photo-url last-message';
    justify-content: start;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    cursor: pointer;
    border-top: 1px solid $color-light-grey;

    &:last-child {
      border-bottom: 1px solid $color-light-grey;
    }

    &--selected {
      background-color: $color-black-01;
    }

    &-photo-url {
      grid-area: photo-url;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid $color-black;
    }
    &-name {
      font-weight: 500;
      font-size: 18px;
    }
    &-last-message {
      grid-area: last-message;
      font-size: 14px;
      color: $color-grey;
    }
  }
  &__loader {
    @include push--auto;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border: 5px solid $color-black-05;
    border-left: 5px solid transparent;
    border-radius: 50%;
    animation: rotate-loader .8s linear infinite;
  }
}
