.sidebar {
  & {
    width: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $color-white;
    padding-bottom: 50px + 5px;
  }
  &__header {
    flex-shrink: 0;
    padding: 0 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $color-black-02;
    border-top: none;
    border-left: none;
  }
  &__header-left {
    display: grid;
    justify-content: start;
    align-content: center;
    align-items: center;
    column-gap: 10px;
    grid-template-areas:
      'avatar display-name'
      'avatar status';
  }
  &__logout-btn {
    @include center;
    border-radius: 50%;
    width: 45px;
    height: 45px;

    &:hover {
      background-color: $color-black-005;
    }
  }
  &__logout-icon {
    color: $color-red;
  }
  &__header-avatar {
    grid-area: avatar;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  &__header-display-name {
    grid-area: display-name;
    font-size: 20px;
    font-weight: 900;
  }
  &__header-status {
    grid-area: status;
    color: $color-green;
  }
  &__search-panel-wrapper {
    padding: 5px 5px;
    flex-shrink: 0;
  }
  &__search-panel {
    display: flex;
    align-items: center;
    border-radius: 45px;
    height: 40px;
    background-color: $color-white-dark;
    padding: 0 15px;
    border: 2px solid transparent;
    overflow-y: auto;

    &--active {
      border-color: $color-blue;

      & .sidebar__search-icon  {
        color: $color-blue;
      }
    }
  }
  &__search-icon {
    font-size: 26px;
    color: $color-light-grey;
    flex-shrink: 1;
  }
  &__search-input {
    margin-left: 10px;
    font-size: 17px;
    align-self: stretch;
    flex-grow: 1;
  }
  &__chats-list {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
  }
  &__add-chat-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $color-blue;
    color: $color-white;
    font-weight: 500;
    font-size: 17px;

    &:hover {
      background-color: $color-dark-blue;
    }
  }
  &__loader {
    align-self: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid $color-light-grey;
    border-left-color: transparent;
    animation: rotate-loader .6s infinite linear;
  }
}

@include mq('tablet-wide') {
  .sidebar {
    & {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 70%;
      z-index: z('sidebar');
      transition: all .2s linear;

      &--hidden {
        transform: translateX(-100%);
      }
    }
    &__header {
      height: 50px;
      padding: 0 5px;
    }
    &__header-avatar {
      height: 40px;
      width: 40px;
    }
    &__header-display-name {
      font-size: 17px;
    }
    &__header-status {
      font-size: 14px;
    }
    &__search-panel {
      height: 30px;
    }
    &__search-icon {
      font-size: 22px;
    }
  }
}
