// ----------------- Colors -------------------

$color-black: rgb(0, 0, 0);
$color-black-01: rgba(0, 0, 0, .1);
$color-black-02: rgba(0, 0, 0, .2);
$color-black-05: rgba(0, 0, 0, .5);
$color-black-08: rgba(0, 0, 0, .8);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-white-dark: rgb(244,244,245);
$color-green: rgb(27, 184, 27);
$color-light-green: rgb(220, 248, 198);
$color-light-grey: rgb(185, 186, 184);
$color-grey: rgb(107, 103, 103);
$color-blue: rgb(51,144,236);
$color-dark-blue: rgb(29, 134, 238);
$color-red: rgb(255, 0, 0);
$color-light-red: rgba(255, 0, 0, 0.421);
$color-light-blue: rgba(51, 143, 236, 0.476);

// ----------------- Colors -------------------




// ----------------- Breakpoints --------------

$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "phablet":      560px,
  "tablet-small": 640px,
  "tablet":       768px,
  "tablet-wide":  1024px,
  "desktop":      1248px,
  "desktop-wide": 1440px
);

// ----------------- Breakpoints --------------




// ----------------- Z Indexes --------------

$z-indexes: (
  "sidebar",
  "modal",
  "shade",
  "search-panel"
);

// ----------------- Z Indexes --------------