@import './variables';
@import './mixins';
@import './reset';
@import './animations';

@import './blocks/login-page';
@import './blocks/home-page';
@import './blocks/app';
@import './blocks/sidebar';
@import './blocks/create-chat-window';
@import './blocks/shade';
@import './blocks/chat-message';
@import './blocks/intro';
@import './blocks/chats-item';
@import './blocks/chat';
@import './blocks/chat-header';
@import './blocks/send-message-form';
@import './blocks/photo-preview';
@import './blocks/messages-item';
// @import './blocks/';
// @import './blocks/';
